.monominoes {}

.monominoes-root {
  padding: 0;
  width: 100%;
}

.monominoes .container {
  max-width: 100%;
}

.monominoes-simple {
  padding-left: 15px;
  padding-right: 15px;
}

.monominoes-centered {
  text-align: center;
}

.monominoes-imgblock {
  display: inline-block;
  max-height: 100%;
}

.monominoes-spanimgblock {
  height: 100%;
  width: 0px;
  display: inline-block;
}

.monominoes-text-block {
  display: block;
  text-align: center;
  padding: 8px 10px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-weight: 700;
}